.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 */
  align-items: center; /* 가로 중앙 */
  height: 100%;
  width: 100%;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #aaa;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: none; /* 기본 흰색 제거 */
}
